<%= form_for(blogue) do |f| %>
  <% if blogue.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blogue.errors.count, "error") %> prohibited this blogue from being saved:</h2>

      <ul>
      <% blogue.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titre %>
    <%= f.text_field :titre %>
  </div>

  <div class="field">
    <%= f.label :contenu %>
    <%= f.text_area :contenu %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
