<p id="notice"><%= notice %></p>

<h1>Blogues</h1>

<table>
  <thead>
    <tr>
      <th>Titre</th>
      <th>Contenu</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogues.each do |blogue| %>
      <tr>
        <td><%= blogue.titre %></td>
        <td><%= blogue.contenu %></td>
        <td><%= link_to 'Show', blogue %></td>
        <td><%= link_to 'Edit', edit_blogue_path(blogue) %></td>
        <td><%= link_to 'Destroy', blogue, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blogue', new_blogue_path %>
